language: python
# use container-based infrastructure
sudo: required
services:
  - docker
cache:
  timeout: 1000
python:
  - "3.5"
bundler_args: --retry 9
script:  
 - docker version
 # Run docker snapshot of dev octave (until 4.4 is released)
 - did=$(docker run -it -d --rm -v `pwd`/test:/test -v cmaumet/octave-spm)
 # Run tests in Octave
 - docker exec -it $did octave --no-window-system --eval "addpath('/test'); '/test/runTest')"
before_install:
 # Update docker version
 - sudo apt-get update
 - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
 - git config --global user.name "TravisCI"
 - git config --global user.email "travis@dummy.com"
 - docker pull cmaumet/octave-spm